<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/functions.js"></script>
</head>
<body>
    <header>
        <div class="logo"><a href="/">Главная</a></div>
        <nav>
            <a href="">Категории</a>
            <a href="/item">Товар</a>
            <a href="/add">Добавить товар</a>
            <a href="/admin">Админка</a>
            <a href="/goods">Все товары</a>
        </nav>
    </header>
    <main>
    <div class="admin"></div>
    <button class="update">Обновить данные</button>
    </main>
    <script src="/danger.js"></script>
</body>
</html>