<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <div class="wrapper">
            <div class="wrapper__body">
                <h1 class="wrapper__body-title">Футболки</h1>
                <a href="/" class="wrapper__body-link">Вернуться</a>
                <div class="wrapper__body-items">
                    <div class="wrapper__body-info">
                        <div class="title df">
                            <div class="title-h1">
                                <h1>Название</h1>
                            </div>
                            <div class="title-txt">Футболка</div>
                        </div>
                        <div class="category mt df">
                            <div class="title-h1">
                                <h1>Категория</h1>
                            </div>
                            <div class="title-txt">Одежда</div>
                        </div>
                        <div class="article mt df">
                            <div class="title-h1">
                                <h1>Артикул</h1>
                            </div>
                            <div class="title-txt">00123</div>
                        </div>
                        <div class="color mt df">
                            <div class="title-h1">
                                <h1>Цвет</h1>
                            </div>
                            <div class="title-txt">Cyan</div>
                        </div>
                        <div class="size mt df">
                            <div class="title-h1">
                                <h1>Размер</h1>
                            </div>
                            <div class="title-txt">M</div>
                        </div>
                        <div class="count mt df">
                            <div class="title-h1">
                                <h1>Кол-во</h1>
                            </div>
                            <div class="title-txt">10</div>
                        </div>
                        <div class="sent mt df">
                            <div class="title-h1">
                                <h1>Цена</h1>
                            </div>
                            <div class="title-txt">1000</div>
                        </div>
                        <div class="brand mt df">
                            <div class="title-h1">
                                <h1>Бренд</h1>
                            </div>
                            <div class="title-txt">ВсеМайки.ru</div>
                        </div>
                    </div>
                    <div class="wrapper__body-image">
                        <img src="https://img-lcwaikiki.mncdn.com/mnresize/800/-/pim/productimages/20211/4590507/l_20211-s10201z8-hqx_a1.jpg" alt="photo" class="image">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>